body {
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 20px;
}

#drama-buttons {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  margin: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button.active {
  background-color: blue;
  color: white;
}

.separator {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 20px 0;
}

#episode-buttons {
  margin-bottom: 20px;
}

#latest-selection {
  margin-top: 20px;
  font-size: 16px;
}

button:hover {
  background-color: #ddd;
}

button:focus {
  outline: none;
}

#audio-player {
  margin-top: 20px;
  width: 80%;
}


